__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
mlenv/
data/
customdata/
customdata/*/*.png
customdata/*/*.jpg
customdata/*.jpeg
customdata/*.gif
customdata/*.bmp
customdata/*.tiff
customdata/*.webp
*.ckpt
*.h5
*.pt
.ipynb_checkpoints/
mlvenv/

