__pycache__/
*.pyc
*.pyo
*.pyd
.env
mlenv/
data/custom_dataset
data/food-101
customdata/
pizza_steak_sushi/
data/*.gz
customdata/*/*.png
customdata/*/*.jpg
customdata/*.jpeg
customdata/*.gif
customdata/*.bmp
customdata/*.tiff
customdata/*.webp
*.ckpt
*.h5
.ipynb_checkpoints/
mlvenv/
models/VGG

